<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Add Business<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Add Business</li>
                        </ol>
                    </div>
                </div>
            </div>
           


            <div class="row">
                <div class="col-md-2"></div>
        <div class="col-md-8" style="background-color:white;">
                    <div class="process">
                            <div class="process-row nav nav-tabs">
                             <div class="process-step">
                              <button type="button" class="btn btn-info btn-circle" data-toggle="tab" href="#menu1" style="color:white;font-size:18px;">STEP-1</button>
                              <p><small>Create<br />Business</small></p>
                             </div>
                             <div class="process-step">
                              <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu2" style="color:white;font-size:18px;">STEP-2</button>
                              <p><small>Business<br />Contact Details</small></p>
                             </div>
                             <div class="process-step">
                              <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu3" style="color:white;font-size:18px;">STEP-3</button>
                              <p><small>Business<br />Permissions</small></p>
                             </div>
                             <div class="process-step">
                              <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu4" style="color:white;font-size:18px;">STEP-4</button>
                              <p><small>Website & <br />Social Networks</small></p>
                             </div>
                        
                            </div>
                           </div>
                           <div class="tab-content">
                            <div id="menu1" class="tab-pane fade active in">
                                    <div class="row">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                            <label class="control-label">Business Name(Displayed name)</label>
                                            <input  maxlength="100" type="text" required="required" class="form-control" placeholder=""  />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Registerd Name</label>
                                            <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Select Category</label>
                                          
                                            <select maxlength="100" type="text" required="required" class="form-control" placeholder="">
                    <option>Select Category</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Select Sub Category</label>
                                            <select maxlength="100" type="text" required="required" class="form-control" placeholder="">
                                                <option>Select Category</option>
                                                                                                                                    </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Pincode</label>
                                            <input maxlength="100" type="text"  class="form-control" placeholder="" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">About Your Business</label>
                                             <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                        </div>    
                                            </div>
                                            <div class="col-md-6">
                                                                <div class="form-group">
                                            <label class="control-label">Get Current Location</label>
                                            <input maxlength="100" type="text" class="form-control" placeholder="" />
                                            <br>
                                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Get Location</button>
                                        </div>
                                       
                                         <div class="form-group">
                                            <label class="control-label">Address</label>
                                            <textarea placeholder="Address" rows="2" cols="50"></textarea>
                                            
                                            
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Select Country</label>
                                            <select maxlength="100" type="text" required="required" class="form-control" placeholder="">
                                                <option>Select country</option>
                                                                                                                                    </select>
                                        </div>  
                                        <div class="form-group">
                                            <label class="control-label">Select State</label>
                                            <select maxlength="100" type="text" required="required" class="form-control" placeholder="">
                                                <option>Select State</option>
                                                                                                                                    </select>
                                        </div> 
                                        <div class="form-group">
                                            <label class="control-label">Mode of Payment</label>
                         <br>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">Credit Card
                                              </label>
                                              <label class="radio-inline">
                                                <input type="radio" name="optradio">Debit Card
                                              </label>
                                              <label class="radio-inline">
                                                <input type="radio" name="optradio">InterNet Banking
                                              </label> 
                                              <label class="radio-inline">
                                                  <input type="radio" name="optradio">Paytm
                                                </label>                                                                 
                                        </div>   
                                            </div>
                                            
                                        </div>
                             <ul class="list-unstyled list-inline pull-right">
                              <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                             </ul>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                    <div class="row">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                            <label class="control-label">Person Name</label>
                                            <input  maxlength="100" type="text" required="required" class="form-control" placeholder=""  />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Mobile Number</label>
                                            <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Alternate Mobile</label>
                                          
                                            <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Office Number</label>
                                          
                                            <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                        </div>
                                        
                                          
                                            </div>
                                            <div class="col-md-6">
                                                                <div class="form-group">
                                            <label class="control-label">Whatsapp No</label>
                                            <input maxlength="100" type="text" class="form-control" placeholder="" />
                                           
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Email Id</label>
                                            <input maxlength="100" type="text" class="form-control" placeholder="" />
                                           
                                        </div>
                                         <div class="form-group">
                                            <label class="control-label">About Person</label>
                                            <textarea placeholder="About person" rows="5" cols="50"></textarea>
                                            
                                            
                                        </div>
                               
                                            </div>
                                            
                                        </div>
                             <ul class="list-unstyled list-inline pull-right">
                              <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                              <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                             </ul>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                    <div class="row">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                            <label class="control-label">GSTIN</label>
                                            <input  maxlength="100" type="text" required="required" class="form-control" placeholder=""  />
                                            <input type="file" name="pic" accept="image/*" style="margin-top:10px !important;"> 
                                            
                                            <div class="adf">
                                              <div class="col-md-6"> <input type="radio" name="optradio">Dont Have </div>
                                              <div class="col-md-6">   <a href="">Apply Now</a></div>
                                            </div>
                                        
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="control-label">TAN(tax deducation and collection account no)</label>
                                            <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                            <input type="file" name="pic" accept="image/*" style="margin-top:10px !important;">
                                       
                                            <div class="adf">
                                                <div class="col-md-6"> <input type="radio" name="optradio">Dont Have </div>
                                                <div class="col-md-6">   <a href="">Apply Now</a></div>
                                              </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="control-label">CIN(corporate identity number)</label>
                                          
                                            <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                            <input type="file" name="pic" accept="image/*" style="margin-top:10px !important;">
                                           
                                           <div class="adf">
                                                <div class="col-md-6"> <input type="radio" name="optradio">Dont Have </div>
                                                <div class="col-md-6">   <a href="">Apply Now</a></div>
                                              </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="control-label">Other Type of permissions</label>
                                          
                                            <input maxlength="100" type="file" name="pic" accept="image/*" class="form-control" placeholder="" />
                                        </div>
                                        
                                          
                                            </div>
                                
                                            
                                        </div>
                             <ul class="list-unstyled list-inline pull-right">
                              <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                              <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                             </ul>
                            </div>
                            <div id="menu4" class="tab-pane fade">
                                    <div class="col-md-row">
                                            <h3>  Social</h3>
                                            <div class="form-group">
                                                <label class="control-label">My Website(like www.raja.com)</label>
                                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione un deporte" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Facebook(like www.facebook/rajac.com)</label>
                                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione una categoria"  />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Google Plus(like www.google/rajac.com)</label>
                                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione una categoria"  />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Twitter(like www.twitter/rajac.com)</label>
                                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione una categoria"  />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Youtube(like www.youtube/channel.com)</label>
                                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione una categoria"  />
                                            </div>
                                           
                                        </div>
                             <ul class="list-unstyled list-inline pull-right">
                              <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                              <li><button type="button" class="btn btn-info next-step" routerLink="/vendorhome">Done</button></li>
                             </ul>
                            </div>
                      
                           </div>












                        </div>
                                   
                    
                                    </div>
            
            
      



            


        </div>
    </div>
  </div>
</section>
