<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Add Business<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Add Business</li>
                        </ol>
                    </div>
                </div>
            </div>
           


            <div class="row">
        

                                   
                    <div class="col-md-10">
                                            <div class="panel panel-card margin-b-30">
                                                <!-- Start .panel -->
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">Select Business Type</h4>
                                                    <div class="panel-actions">
                                                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Product Based</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Service Based</button>  
                                                <div class="panel-body">
                                                    <div class="stepwizard">
                                                        <div class="stepwizard-row setup-panel">
                                                            <div class="stepwizard-step">
                                                                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                                                                <p>Create Business</p>
                                                            </div>
                                                            <div class="stepwizard-step">
                                                                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                                                <p>Contact Details</p>
                                                            </div>
                                                            <div class="stepwizard-step">
                                                                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                                                <p>Business Permissions</p>
                                                            </div>
                                                            <div class="stepwizard-step">
                                                                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                                                <p>Social Networks</p>
                                                            </div>
                                                       
                                                        </div>
                                                    </div>
                                                    <form role="form">
                                                        <div class="row setup-content" id="step-1">
                                                            <div class="col-xs-12">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                             <div class="form-group">
                                                                        <label class="control-label">Business Name(Displayed name)</label>
                                                                        <input  maxlength="100" type="text" required="required" class="form-control" placeholder=""  />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Registerd Name</label>
                                                                        <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Select Category</label>
                                                                      
                                                                        <select maxlength="100" type="text" required="required" class="form-control" placeholder="">
<option>Select Category</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Select Sub Category</label>
                                                                        <select maxlength="100" type="text" required="required" class="form-control" placeholder="">
                                                                            <option>Select Category</option>
                                                                                                                                                                </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Pincode</label>
                                                                        <input maxlength="100" type="text"  class="form-control" placeholder="" />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">About Your Business</label>
                                                                         <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                                                    </div>    
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                                            <div class="form-group">
                                                                        <label class="control-label">Get Current Location</label>
                                                                        <input maxlength="100" type="text" class="form-control" placeholder="" />
                                                                        <br>
                                                                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Get Location</button>
                                                                    </div>
                                                                   
                                                                     <div class="form-group">
                                                                        <label class="control-label">Address</label>
                                                                        <textarea placeholder="Address" rows="2" cols="55"></textarea>
                                                                        
                                                                        
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Select Country</label>
                                                                        <select maxlength="100" type="text" required="required" class="form-control" placeholder="">
                                                                            <option>Select country</option>
                                                                                                                                                                </select>
                                                                    </div>  
                                                                    <div class="form-group">
                                                                        <label class="control-label">Select State</label>
                                                                        <select maxlength="100" type="text" required="required" class="form-control" placeholder="">
                                                                            <option>Select State</option>
                                                                                                                                                                </select>
                                                                    </div> 
                                                                    <div class="form-group">
                                                                        <label class="control-label">Mode of Payment</label>
                                                     <br>
                                                                        <label class="radio-inline">
                                                                            <input type="radio" name="optradio">Credit Card
                                                                          </label>
                                                                          <label class="radio-inline">
                                                                            <input type="radio" name="optradio">Debit Card
                                                                          </label>
                                                                          <label class="radio-inline">
                                                                            <input type="radio" name="optradio">InterNet Banking
                                                                          </label> 
                                                                          <label class="radio-inline">
                                                                              <input type="radio" name="optradio">Paytm
                                                                            </label>                                                                 
                                                                    </div>   
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row setup-content" id="step-2">
                                                            <div class="col-xs-12">
                                                                <div class="col-md-12">
                                                                    


                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                             <div class="form-group">
                                                                        <label class="control-label">Person Name</label>
                                                                        <input  maxlength="100" type="text" required="required" class="form-control" placeholder=""  />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Mobile Number</label>
                                                                        <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Alternate Mobile</label>
                                                                      
                                                                        <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Office Number</label>
                                                                      
                                                                        <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                                                    </div>
                                                                    
                                                                      
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                                            <div class="form-group">
                                                                        <label class="control-label">Whatsapp No</label>
                                                                        <input maxlength="100" type="text" class="form-control" placeholder="" />
                                                                       
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Email Id</label>
                                                                        <input maxlength="100" type="text" class="form-control" placeholder="" />
                                                                       
                                                                    </div>
                                                                     <div class="form-group">
                                                                        <label class="control-label">About Person</label>
                                                                        <textarea placeholder="About person" rows="5" cols="55"></textarea>
                                                                        
                                                                        
                                                                    </div>
                                                           
                                                                        </div>
                                                                        
                                                                    </div>














                                                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <div class="row setup-content" id="step-3">
                                                            <div class="col-xs-12">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                             <div class="form-group">
                                                                        <label class="control-label">GSTIN</label>
                                                                        <input  maxlength="100" type="text" required="required" class="form-control" placeholder=""  />
                                                                        <input type="file" name="pic" accept="image/*" style="margin-top:10px !important;"> 
                                                                        
                                                                        <div class="adf">
                                                                          <div class="col-md-6"> <input type="radio" name="optradio">Dont Have </div>
                                                                          <div class="col-md-6">   <a href="">Apply Now</a></div>
                                                                        </div>
                                                                    
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group">
                                                                        <label class="control-label">TAN(tax deducation and collection account no)</label>
                                                                        <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                                                        <input type="file" name="pic" accept="image/*" style="margin-top:10px !important;">
                                                                   
                                                                        <div class="adf">
                                                                            <div class="col-md-6"> <input type="radio" name="optradio">Dont Have </div>
                                                                            <div class="col-md-6">   <a href="">Apply Now</a></div>
                                                                          </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group">
                                                                        <label class="control-label">CIN(corporate identity number)</label>
                                                                      
                                                                        <input maxlength="100" type="text" required="required" class="form-control" placeholder="" />
                                                                        <input type="file" name="pic" accept="image/*" style="margin-top:10px !important;">
                                                                       
                                                                       <div class="adf">
                                                                            <div class="col-md-6"> <input type="radio" name="optradio">Dont Have </div>
                                                                            <div class="col-md-6">   <a href="">Apply Now</a></div>
                                                                          </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Other Type of permissions</label>
                                                                      
                                                                        <input maxlength="100" type="file" name="pic" accept="image/*" class="form-control" placeholder="" />
                                                                    </div>
                                                                    
                                                                      
                                                                        </div>
                                                            
                                                                        
                                                                    </div>
                                                                    
                                                               
                                                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <div class="row setup-content" id="step-4">
                                                            <div class="col-xs-12">
                                                                <div class="col-md-8">
                                                                    <h3>  Deporte</h3>
                                                                    <div class="form-group">
                                                                        <label class="control-label">My Website(like www.raja.com)</label>
                                                                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione un deporte" />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Facebook(like www.facebook/rajac.com)</label>
                                                                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione una categoria"  />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Google Plus(like www.google/rajac.com)</label>
                                                                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione una categoria"  />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Twitter(like www.twitter/rajac.com)</label>
                                                                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione una categoria"  />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Youtube(like www.youtube/channel.com)</label>
                                                                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Seleccione una categoria"  />
                                                                    </div>
                                                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" routerLink="/vendorhome">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            
                                          
                                                       
                                                    </form>















                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
            
      



            


        </div>
    </div>
  </div>
</section>
