<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <!-- <app-sidebar></app-sidebar> -->

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
         

            

            <div class="row">
                    

                                               
                <div class="col-md-12 col-sm-12">
                                        <div class="panel panel-card margin-b-30" style="    margin-left: -220px;">
                                            <!-- Start .panel -->
                                            <div class="panel-heading">
                                                <h2 style="text-align:center;">Create New Business</h2>
                                            

                                                <h4 style="text-align:center;margin-top:30px;">You dont have any business registration button clike below<br>
                                                    <br> <button class="btn btn-primary nextBtn btn-lg " type="button" routerLink="/createbusiness">Add Business</button></h4>
                                            </div>
                                              
                                           
                                        </div>
                                    </div>
                                </div>
        </div>
    </div>
  </div>
</section>