<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">


        <div id="wrapper">
            
                    <div class="content-wrapper container">
                                   


                        <div class="row">
                    

                                               
                                <div class="col-md-12 col-sm-12">
                                                        <div class="panel panel-card margin-b-30">
                                                            <!-- Start .panel -->
                                                            <div class="panel-heading">
                                                                <h2 style="text-align:center;">Create New Business</h2>
                                                            

                                                                <h4 style="text-align:center;margin-top:30px;">If you dont have  a Business Please create a Business Here &nbsp;&nbsp;&nbsp; <button class="btn btn-primary nextBtn btn-lg " type="button" routerLink="/createbusiness">Add Business</button></h4>
                                                            </div>
                                                              
                                                           
                                                        </div>
                                                    </div>
                                                </div>












</div>
               
        </div>
    </section>
</body>

