<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">

            <app-sidebar></app-sidebar>

        <div id="wrapper">
            <div class="content-wrapper container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h1>Item List<small></small></h1>
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="active">Item List</li>
                            </ol>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-lg-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
             <img src="../assets/images/open.jpg" class="lis">
                                <h4>On overall Purchase</h4>

                                
                            </div>
                        
                        </div>
          
                    </div>

                    <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>Exclusive offer</h4>
                                
                            </div>



                        </div>
          
                    </div>
           
               <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>

<div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
                               <img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
        <div class="col-md-2">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
<img src="../assets/images/open.jpg" class="lis">
                                <h4>On particular products</h4>
                                
                            </div>



                        </div>
          
                    </div>
                </div>
                           









            </div>
        </div>
    </section>
</body>