<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
         

            

            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h1>Item <small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Add Items</li>
                        </ol>
                    </div>
                </div>
            </div>

           










            <div class="row">
                           
                    <div class="col-md-12">
                                 
                                            <div class="panel panel-default panel-table">
                              
                                                    <div class="panel-body table-responsive">
                                                      <table class="table table-striped table-bordered table-list">
                                                            <thead>
                                                             <td><button type="button" class="btn btn-info" routerLink="/additem">Add Items</button></td>
                                                             <td>Sortings</td>
                                                             <td>Actions</td>
                                                                  </thead>
                                                                  <br>
                                                        <thead>
                                                          <tr>
                                                                <th class="hidden-xs">S.No/Item Id</th>
                                                              <th class="hidden-xs">Item name</th>
                                                              <th>Item Type</th>
                                                              <th>Quantity</th>
                                                              <th>Item Price</th>
                                                              <th>Item Discount</th>
                                                              <th>Image</th>
                                                              
                                                              <th>Description</th>
                                                              <th>Additional info</th>
                                                              <th></th>
                                                          </tr> 
                                                        </thead>
                                                        <tbody id="myTable">
                                                      
                                                                <tr>
                                                                        <td>8542</td>
                                                                        <td>fasddf</td>
                                                                        <td>fasddf</td>

                                                               
                                                               
                                                                  <td>fasddf</td>
                                                                  <td>fasddf</td>
                                                                  <td>fasddf</td>
                                                                  <td>fasddf</td>
                                                                  <td>fasddf</td>
                                                                  <td>fasddf</td>
                                                                  <td align="center">
                                                                        <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                                                        <a class="btn btn-success">View</a>
                                                                        <a class="btn btn-basic"> <input type="checkbox" name="checkbox" style="width:60px;"></a>
                                                                      </td>
                                                                 
                                                          
                                                                </tr>
                                                               
                                                              </tbody>
                                                      </table>
                                                  
                                                    </div>
                                       
                                                  </div>
                                                   
                                        
                                        
            
                                                    
            
            
            
                                            
                                        </div>
            
                                       
            
            
            
            
            
            
            
            
            
            
            
                                           
            
            
            
                                      
            
                                    </div>
        </div>
    </div>
  </div>
</section>