<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">

            <app-sidebar></app-sidebar>

        <div id="wrapper">
            <div class="content-wrapper container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h1>Your Plan <small></small></h1>
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="active">Your Plan </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row">
                    
<div class="col-md-6">
                        <div class="panel panel-card margin-b-30">
                          <div class="row">
            <div class="col-md-6">
            <p><b>Current Plan:</b></p>
            <br>
             <p><b>Plan Status:</b></p>
            </div>
            <div class="col-md-6">
            <p><button type="button" class="btn btn-primary">Gold</button></p><br>
            <p><button type="button" class="btn btn-success">Active</button></p>
            </div>
            </div>
            <br>
                            <p style="text-align:center;"><button type="button" class="btn btn-success">Change Plan</button></p>
          <p style="text-align:center;"><button type="button" class="btn btn-primary">View Current Plans details</button></p>
          <p style="text-align:center;"><button type="button" class="btn btn-warning">View All Plans details</button></p>
                        </div>
          
          
          
                    </div>
                </div>
                           












            </div>
        </div>
    </section>
</body>
