<div class="row" style="margin-top:-40px;">
                  
    <div class="col-md-12">
        <div class="page-title" style="height:50px;background-color:#0593c5;">
     <div class="col-md-3"><h2 class="colr" routerLink="/importdata">Import database</h2></div>
     <div class="col-md-3"><h2 class="colr" routerLink="/createlist">Create List</h2></div>
     <div class="col-md-2"><h2 class="colr" routerLink="/itemsnew">Add Items</h2></div>
     <div class="col-md-1"><h2 class="colr" routerLink="/inbox">Inbox</h2></div>
     <div class="col-md-3"><h2 class="colr" routerLink="/createbusiness">Add Another Business</h2></div>  
        </div>
    </div>
</div>