<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
         

            

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1> Particular Offerzone<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Particular offerzone</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">
                            <h4>On overall Purchase</h4>

                            
                        </div>
                    
                    </div>
      <a routerLink="/offerzone"><button type="button" class="btn btn-primary" style="float:right;">Over All Purchase</button></a>
                </div>

                <div class="col-md-4">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">

                            <h4>Exclusive offer</h4>
                            
                        </div>



                    </div>
      <a routerLink="/exclusiveoffer"><button type="button" class="btn btn-primary" style="float:right;">Over All Purchase</button></a>
                </div>
       
           <div class="col-md-4">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">

                            <h4>On particular products</h4>
                            
                        </div>



                    </div>
      <a routerLink="/particularoffer"><button type="button" class="btn btn-primary" style="float:right;">Particular Products</button></a>
                </div>


            </div>
                       



            <br><br><br>
            <div class="container">
                  <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                          <div class="prise-box">
                          <img src="../assets/images/open.jpg" alt="sdasdas">
                          <div class="info-this">
                              <div class="left-box">
                              <h4>Item Name</h4>
                              
                              </div>
                              <div class="right-box-up">
                                  <div class="blue-box">
                                    
                                      <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                      </div>
                              </div>
                          </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                              <div class="prise-box">
                              <img src="../assets/images/open.jpg" alt="sdasdas">
                              <div class="info-this">
                                  <div class="left-box">
                                  <h4>Item Name</h4>
                                  
                                  </div>
                                  <div class="right-box-up">
                                      <div class="blue-box">
                                        
                                          <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                          </div>
                                  </div>
                              </div>
                              </div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                  <div class="prise-box">
                                  <img src="../assets/images/open.jpg" alt="sdasdas">
                                  <div class="info-this">
                                      <div class="left-box">
                                      <h4>Item Name</h4>
                                      
                                      </div>
                                      <div class="right-box-up">
                                          <div class="blue-box">
                                            
                                              <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                              </div>
                                      </div>
                                  </div>
                                  </div>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                      <div class="prise-box">
                                      <img src="../assets/images/open.jpg" alt="sdasdas">
                                      <div class="info-this">
                                          <div class="left-box">
                                          <h4>Item Name</h4>
                                          
                                          </div>
                                          <div class="right-box-up">
                                              <div class="blue-box">
                                                
                                                  <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                  </div>
                                          </div>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                          <div class="prise-box">
                                          <img src="../assets/images/open.jpg" alt="sdasdas">
                                          <div class="info-this">
                                              <div class="left-box">
                                              <h4>Item Name</h4>
                                              
                                              </div>
                                              <div class="right-box-up">
                                                  <div class="blue-box">
                                                    
                                                      <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                      </div>
                                              </div>
                                          </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                              <div class="prise-box">
                                              <img src="../assets/images/open.jpg" alt="sdasdas">
                                              <div class="info-this">
                                                  <div class="left-box">
                                                  <h4>Item Name</h4>
                                                  
                                                  </div>
                                                  <div class="right-box-up">
                                                      <div class="blue-box">
                                                        
                                                          <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                          </div>
                                                  </div>
                                              </div>
                                              </div>
                                          </div>
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                  <div class="prise-box">
                                                  <img src="../assets/images/open.jpg" alt="sdasdas">
                                                  <div class="info-this">
                                                      <div class="left-box">
                                                      <h4>Item Name</h4>
                                                      
                                                      </div>
                                                      <div class="right-box-up">
                                                          <div class="blue-box">
                                                            
                                                              <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                              </div>
                                                      </div>
                                                  </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                      <div class="prise-box">
                                                      <img src="../assets/images/open.jpg" alt="sdasdas">
                                                      <div class="info-this">
                                                          <div class="left-box">
                                                          <h4>Item Name</h4>
                                                          
                                                          </div>
                                                          <div class="right-box-up">
                                                              <div class="blue-box">
                                                                
                                                                  <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                                  </div>
                                                          </div>
                                                      </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                          <div class="prise-box">
                                                          <img src="../assets/images/open.jpg" alt="sdasdas">
                                                          <div class="info-this">
                                                              <div class="left-box">
                                                              <h4>Item Name</h4>
                                                              
                                                              </div>
                                                              <div class="right-box-up">
                                                                  <div class="blue-box">
                                                                    
                                                                      <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                                      </div>
                                                              </div>
                                                          </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                              <div class="prise-box">
                                                              <img src="../assets/images/open.jpg" alt="sdasdas">
                                                              <div class="info-this">
                                                                  <div class="left-box">
                                                                  <h4>Item Name</h4>
                                                                  
                                                                  </div>
                                                                  <div class="right-box-up">
                                                                      <div class="blue-box">
                                                                        
                                                                          <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                                          </div>
                                                                  </div>
                                                              </div>
                                                              </div>
                                                          </div>
                                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                  <div class="prise-box">
                                                                  <img src="../assets/images/open.jpg" alt="sdasdas">
                                                                  <div class="info-this">
                                                                      <div class="left-box">
                                                                      <h4>Item Name</h4>
                                                                      
                                                                      </div>
                                                                      <div class="right-box-up">
                                                                          <div class="blue-box">
                                                                            
                                                                              <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                                              </div>
                                                                      </div>
                                                                  </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                      <div class="prise-box">
                                                                      <img src="../assets/images/open.jpg" alt="sdasdas">
                                                                      <div class="info-this">
                                                                          <div class="left-box">
                                                                          <h4>Item Name</h4>
                                                                          
                                                                          </div>
                                                                          <div class="right-box-up">
                                                                              <div class="blue-box">
                                                                                
                                                                                  <h5 style="color:white;">20% Off<sup>*</sup></h5>
                                                                                  </div>
                                                                          </div>
                                                                      </div>
                                                                      </div>
                                                                  </div>
           
               
                     </div>
                              </div>
        </div>
    </div>
  </div>
</section>