<footer class="footer1">
  <div class="container">
  
  <div class="row"><!-- row -->
              
                  <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                  <ul class="list-unstyled clear-margins"><!-- widgets -->
                          
                            <li class="widget-container widget_nav_menu"><!-- widgets list -->
                      
                                  <h1 class="title-widget">REATCHALL</h1>
                        
                      
                </li>
                              
                          </ul>
                           
                        
                  </div>
                  
                  
                  
                  <div class="col-lg-3 col-md-3">
              
                  <ul class="list-unstyled clear-margins">
                          
                            <li class="widget-container widget_nav_menu">
                      
                                  <h1 class="title-widget">Servicess</h1>
                                  
                                  <ul>
                     <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test Series Schedule</a></li>
                                      <li><a  href="#"><i class="fa fa-angle-double-right"></i>  About Us</a></li>
                                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Categories</a></li>
                                      <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Terms and conditions</a></li>
                                     
                                      
                                  </ul>
                      
                </li>
                              
                          </ul>
                           
                        
                  </div>
                  
                  
                  
                  <div class="col-lg-3 col-md-3">
              
                  <ul class="list-unstyled clear-margins">
                          
                            <li class="widget-container widget_nav_menu">
                      
                                  <h1 class="title-widget">Social Info</h1>
                                  
                                  <ul class="nomargin">
                                      
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                  <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                  <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                  <a href="mail:ratanp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                                        
                                                        </ul>   
                      
                </li>
                              
                          </ul>
                           
                        
                  </div>
                  
                  
                  <div class="col-lg-3 col-md-3">
                  
                     
                      
                          <ul class="list-unstyled clear-margins">
                          
                            <li class="widget-container widget_recent_news">
                      
                                  <h1 class="title-widget">Address </h1>
                                  
                                  <div class="footerp"> 
                                  
                                  <h2 class="title-median">Reatchall technologies Pvt. Ltd.</h2>
                                  <p><b>Email id:</b> <a href="mailto:info@webenlance.com">info@reatchall.com</a></p>
            
      <p><b>Phone Numbers : </b>123456789, </p>
      <p> 040-123456, 12345678</p>
                                  </div>
                                  
                                  <div class="social-icons">
                                  
                                   
                                  </div>
                          </li>
                            </ul>
                         </div>
                  </div>
  </div>
  </footer>
 