<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
                <app-rowside></app-rowside>
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Dashboard<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end .page title-->

            <!-- <div class="row">
                <div class="col-lg-3">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">
                            <h4>User Performance</h4>

                            <h2 class="pull-left">
                                <i class="fa fa-users c4"></i></h2>
                            <h2 class="pull-right">17,50</h2>
                        </div>
                        <div class="col-xs-12 text-right">60%</div><br>
                        <div class="progress progress-sm">

                            <div class="progress-bar progress-bar-danger" style="width: 60%;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">

                            <h4>Users Activity</h4>
                            <h2 class="pull-left">
                                <i class="fa fa-user c3"></i></h2>
                            <h2 class="pull-right">250</h2>
                        </div>


                        <div class="col-xs-12 text-right">85%</div><br>
                        <div class="progress progress-sm ">

                            <div class="progress-bar progress-bar-danger p3-bg" style="width: 85%;" role="progressbar"> <span class="sr-only">85% Complete</span> </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">

                            <h4>HDD</h4>
                            <h2 class="pull-left">
                                <i class="fa fa-battery-2 c2"></i></h2>
                            <h2 class="pull-right">250</h2>
                        </div>



                        <div class="col-xs-12 text-right">50%</div><br>
                        <div class="progress progress-sm">

                            <div class="progress-bar progress-bar-danger p2-bg" style="width: 50%;" role="progressbar"> <span class="sr-only">50% Complete</span> </div>
                        </div>


                    </div>

                </div>
                <div class="col-md-3">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">
                            <h4>Pending Orders</h4>
                            <h2 class="pull-left">
                                <i class="fa fa-shopping-cart c1"></i></h2>
                            <h2 class="pull-right">256</h2>
                        </div>
                        <div class="col-xs-12 text-right">50%</div><br>
                        <div class="progress progress-sm">

                            <div class="progress-bar progress-bar-danger p1-bg" style="width: 50%;" role="progressbar"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                    </div>
                </div>


            </div> -->
            
            
      



            


        </div>
    </div>
  </div>
</section>