<nav class="navbar navbar-default yamm navbar-fixed-top" id="header"> <div class="color-line">
</div>
<div class="container-fluid">
    <button type="button" class="navbar-minimalize minimalize-styl-2  pull-left "><i class="fa fa-bars"></i></button>

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home"><img src="../assets/images/logodash.png" style="margin-top: -22px;"></a>
    
    
    </div>
    <div id="navbar" class="navbar-collapse collapse">
       

        <ul class="nav navbar-nav navbar-right navbar-top-drops">
           
            <li class="dropdown"><a href="#" class="dropdown-toggle button-wave" data-toggle="dropdown" style="color:black !important;"> <span>Vendor Name</span> &nbsp; <img src="../assets/images/userico.png" style="width:50px;height:45px;"></a>

                <ul class="dropdown-menu dropdown-lg animated flipInX profile">

                    <li><a routerLink="/myprofile"><i class="fa fa-user"></i>My Profile</a></li>
                    <!-- <li><a href="#"><i class="fa fa-calendar"></i>Notifications</a></li> -->
                    <li><a routerLink="/change"><i class="fa fa-envelope"></i>Change Password</a></li>
                    <li><a routerLink="/privacy"><i class="fa fa-barcode"></i>Privacy settings</a></li>
                    <!-- <li class="divider"></li> -->
                    <li><a routerLink="/login"><i class="fa fa-lock"></i>Terms & Conditions</a></li>
                    <li><a routerLink="/login"><i class="fa fa-key"></i>Logout</a></li>

                </ul>
         

            </li>
        </ul>
    </div>
</div>
</nav>