.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
     background-color: #e7e7e7 !important; 
}
.navbar-default[_ngcontent-c2] .navbar-nav[_ngcontent-c2] > .open[_ngcontent-c2] > a[_ngcontent-c2], .navbar-default[_ngcontent-c2] .navbar-nav[_ngcontent-c2] > .open[_ngcontent-c2] > a[_ngcontent-c2]:focus, .navbar-default[_ngcontent-c2] .navbar-nav[_ngcontent-c2] > .open[_ngcontent-c2] > a[_ngcontent-c2]:hover {
    color: #555;
    background-color: #ffffff !important;
}