<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">

            <app-sidebar></app-sidebar>

        <div id="wrapper">
            <div class="content-wrapper container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h1>Your Plan <small></small></h1>
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="active">Your Plan </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row">
                    
<div class="col-md-6">
                        <div class="panel panel-card margin-b-30">
                          <div class="row">
            <div class="col-md-8">
            <p><b>Contact Number:</b></p>
            <br>
             <p><b>Whatsapp Number:</b></p>
            </div>
            <div class="col-md-4">
            <select class="fancy-select form-control">
                                                        <option value="Amsterdam">Visible</option>
                                                        <option value="Washington">Hide</option>
                                                
                                                    </select>
                        <br>
            <select class="fancy-select form-control">
                                                        <option value="Amsterdam">only messages</option>
                                                        <option value="Washington">only calls</option>
                                                <option value="Washington">Not Working</option>
                                                    </select>
            </div>
            </div>
            
                        </div>
          
          
          
                    </div>
                </div>
                           












            </div>
        </div>
    </section>
</body>
