<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">

            <app-sidebar></app-sidebar>

        <div id="wrapper">
                <div class="row" style="margin-top:-50px;">
                        <div class="col-sm-12">
                            <div class="page-title" style="height:50px;background-color:#0593c5;">
                         <div class="col-md-3"><h1 class="colr" routerLink="/importdata">Import database</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/createlist">Create List</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/itemsnew">Add Items</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/inbox">Inbox</h1></div>  
                            </div>
                        </div>
                    </div>
                    <div class="content-wrapper container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title">
                                    <h1>Feed Back<small></small></h1>
                                    <ol class="breadcrumb">
                                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                                        <li class="active">Feed Back</li>
                                    </ol>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                    
                                <div class="col-md-6">
                                                        <div class="panel panel-card margin-b-30">
                                                            <!-- Start .panel -->
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">Feedback</h4>
                                                                <div class="panel-actions">
                                                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                                                </div>
                                                            </div>
                                                            <div class="panel-body">
                                                                <form role="form">
                                                   
                                     
                                                 
                                                 <div class="form-group"><label>feedback</label> <textarea class="form-control"></textarea></div>
                                                  
                                                                    <div>
                                                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                                                       
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
</div>
               
        </div>
    </section>
</body>
