<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">

            <app-sidebar></app-sidebar>

        <div id="wrapper">
            <div class="content-wrapper container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h1>Reject orders<small></small></h1>
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="active">Reject orders</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">
                                <h4>Total Orders</h4>

                                
                            </div>
                        
                        </div>
          <a routerLink="/orderanalasys"><button type="button" class="btn btn-primary" style="float:right;">Total Orders</button></a>
                    </div>

                    <div class="col-md-3">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">

                                <h4>Accepted Orders</h4>
                                
                            </div>



                        </div>
          <a routerLink="/accept"><button type="button" class="btn btn-primary" style="float:right;">Accepted Orders</button></a>
                    </div>
           <div class="col-md-3">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">

                                <h4>Rejected Orders</h4>
                                
                            </div>



                        </div>
          <a routerLink="/reject"><button type="button" class="btn btn-primary" style="float:right;">Rejected Orders</button></a>
                    </div>
               <div class="col-md-3">
                        <div class="widget-box clearfix height-auto">
                            <div class="pull text-left clearfix">

                                <h4>Canceled Orders</h4>
                                
                            </div>



                        </div>
                    </div>

<a routerLink="/cancelorders"><button type="button" class="btn btn-primary" style="float:right;">Canceled Orders</button></a>
                </div>
                <h4>Your total orders are: 20</h4>


                <div class="panel panel-default">
                    <div class="panel-heading">
                  <div class="ade">
                  <div class="row">
                  <div class="col-md-8">
                  <h3>orderid:1425185</h3>
                  </div>
                  <div class="col-md-4">
                  <h3>Date:1425185</h3>
                  </div>
                  </div>
                  </div>
                  </div>
                    <div class="panel-body">
                  <div class="ed">
                  <div class="row">
                  <div class="col-md-3">
                  <img src="images/as.png">
                  </div>
                  <div class="col-md-3">
                  Order Status
                  </div>
                  <div class="col-md-2">
                  <h3>RS/- 1800</h3>
                  </div>
                  
                  <div class="col-md-3">
                  <button type="button" class="btn btn-primary">Order Details</button>
                  </div>
                  </div>
                  </div>
                  
                  </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                    <div class="ade">
                    <div class="row">
                    <div class="col-md-8">
                    <h3>orderid:1425185</h3>
                    </div>
                    <div class="col-md-4">
                    <h3>Date:1425185</h3>
                    </div>
                    </div>
                    </div>
                    </div>
                      <div class="panel-body">
                    <div class="ed">
                    <div class="row">
                    <div class="col-md-3">
                    <img src="images/as.png">
                    </div>
                    <div class="col-md-3">
                    Order Status
                    </div>
                    <div class="col-md-2">
                    <h3>RS/- 1800</h3>
                    </div>
                    
                    <div class="col-md-3">
                    <button type="button" class="btn btn-primary">Order Details</button>
                    </div>
                    </div>
                    </div>
                    
                    </div>
                    </div>















                </div>
                </div>
    </section>
</body>
