<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
         

            

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Website/Social newworks<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Website/Social newworks</li>
                        </ol>
                    </div>
                </div>
            </div>





            <div class="row">
        
                    <div class="col-md-6">
                                            <div class="panel panel-card margin-b-30">
                                                <!-- Start .panel -->
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">Website/Social newworks</h4>
                                                    <!-- <div class="panel-actions">
                                                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                                    </div> -->
                                                </div>
                                                <div class="panel-body">
                                                    <form role="form">
                                                            <div class="row">
                                                                    <div class="col-md-6">
                                                                    <div class="form-group" ><label class="hol" ><b>Facebook:</b></label></div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                    <div class="form-group"><a href="">www.facebook.com</a></div>
                                                                    </div>
                                                                    </div>
                                                                    <div class="row">
                                                                            <div class="col-md-6">
                                                                            <div class="form-group" ><label class="hol" ><b>Twitter:</b></label></div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                            <div class="form-group"><a href="">www.twitter.com</a></div>
                                                                            </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                    <div class="col-md-6">
                                                                                    <div class="form-group" ><label class="hol" ><b>Googleplus:</b></label></div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                    <div class="form-group"><a href="">www.google.com</a></div>
                                                                                    </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                            <div class="col-md-6">
                                                                                            <div class="form-group" ><label class="hol" ><b>Youtube:</b></label></div>
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                            <div class="form-group"><a href="">www.youtube.com</a></div>
                                                                                            </div>
                                                                                            </div>
                                                                                         
                                                                                                <div class="form-group" style="float:right;"><button type="button" class="btn btn-info">Submit</button></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>








                                        <div class="col-md-6">
                                                <div class="panel panel-card margin-b-30">
                                                    <!-- Start .panel -->
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">Edit Website/Social newworks</h4>
                                                        <!-- <div class="panel-actions">
                                                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                                        </div> -->
                                                    </div>
                                                    <div class="panel-body">
                                                        <form role="form">
                                                                <div class="row">
                                                                        <div class="col-md-6">
                                                                        <div class="form-group" ><label class="hol" ><b>Facebook:</b></label></div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                        <div class="form-group"><input type="bname" placeholder="www.facebook.com" class="form-control"></div>
                                                                        </div>
                                                                        </div>
                                                                        <div class="row">
                                                                                <div class="col-md-6">
                                                                                <div class="form-group" ><label class="hol" ><b>Twitter:</b></label></div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                <div class="form-group"><input type="bname" placeholder="www.twitter.com" class="form-control"></div>
                                                                                </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                        <div class="col-md-6">
                                                                                        <div class="form-group" ><label class="hol" ><b>Googleplus:</b></label></div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                        <div class="form-group"><input type="bname" placeholder="www.google.com" class="form-control"></div>
                                                                                        </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                <div class="form-group" ><label class="hol" ><b>Youtube:</b></label></div>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                <div class="form-group"><input type="bname" placeholder="www.youtube.com" class="form-control"></div>
                                                                                                </div>
                                                                                                </div>
                                                                                             
                                                                                                    <div class="form-group" style="float:right;"><button type="button" class="btn btn-info">Update</button></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>



















                                    </div>
        </div>
    </div>
  </div>
</section>