<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">
            <app-sidebar></app-sidebar>

        <div id="wrapper">
            <div class="content-wrapper container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h1>Business Settings<small></small></h1>
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="active">Business Settings</li>
                            </ol>
                        </div>
                    </div>
                </div>
               
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Business Settings</h4>
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form">
        <div class="row">
      <div class="col-md-4">
      <div class="form-group"><label>Business logo</label> <input type="file" name="pic" accept="image/*" placeholder="" class="form-control"></div>
      </div>
      <div class="col-md-4">
      <div class="form-group"><label>Business Banners</label> <input type="file" name="pic" accept="image/*" placeholder="" class="form-control"></div>
      </div>
      <div class="col-md-4">
      <div class="form-group"><label>Business Profile</label> <input type="file" name="pic" accept="image/*"  placeholder="" class="form-control"></div>
     </div>
      </div>

                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Submit</strong></button>
                               
                            </div>
                        </form>
                    </div>
                </div>
                  
                </div>
                
            

            </div>
    
    </section>
</body>
