<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Opening Hours <small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Opening Hours</li>
                        </ol>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-6">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">
                            <h3 style="text-align:center;"> <span class="glyphicon glyphicon-time"></span> &nbsp; Opening Hours</h3>

                            <div class="dds">
          <div class="col-md-6">
        <p><b>Monday:</b></p>
        <p><b>Tuesday:</b></p>
        <p><b>Wedensday:</b></p>
        <p><b>Thursday:</b></p>
        <p><b>Friday:</b></p>
        <p><b>Saturday:</b></p>
        <p><b>Sunday:</b></p>
          </div>
          <div class="col-md-6">
          <p>9AM-8PM</p>
          <p>9AM-8PM</p>
          <p>9AM-8PM</p>
          <p>9AM-8PM</p>
          <p>9AM-8PM</p>
          <p>9AM-8PM</p>
          <p>Closed</p>
          </div>
          <a href="edittimings.html"><button type="button" class="btn btn-info">Edit Timings</button></a>
          </div>
                        </div>
                    
                    </div>
                </div>

                

            </div>

            


        </div>
    </div>
  </div>
</section>