<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">

            <app-sidebar></app-sidebar>

        <div id="wrapper">
                <div class="row" style="margin-top:-50px;">
                        <div class="col-sm-12">
                            <div class="page-title" style="height:50px;background-color:#0593c5;">
                         <div class="col-md-3"><h1 class="colr" routerLink="/importdata">Import database</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/createlist">Create List</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/itemsnew">Add Items</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/inbox">Inbox</h1></div>  
                            </div>
                        </div>
                    </div>
                    <div class="content-wrapper container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title">
                                    <h1>Promotions<small></small></h1>
                                    <ol class="breadcrumb">
                                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                                        <li class="active">Promotions</li>
                                    </ol>
                                </div>
                            </div>
                        </div>





                        <div class="row">
                    
                                <div class="col-md-6">
                                                        <div class="panel panel-card margin-b-30">
                                                            <!-- Start .panel -->
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">Business Promotions</h4>
                                                                <div class="panel-actions">
                                                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                                                </div>
                                                            </div>

                                                       <h2>Promotional Images</h2>
                                                        
                                                       <div class="carousel slide" data-ride="carousel" id="myCarousel">
                                                                 
                                                            <div class="carousel-inner">
                                                                <div class="item active">
                                                                    <img src="../assets/images/open.jpg"  style="height:180px;width:100%;" class="img-responsive">
                                                                </div>
                                                                <div class="item">
                                                                        <img src="../assets/images/open.jpg"  style="height:180px;width:100%;" class="img-responsive">
                                                                </div>
                                                                
                                                            </div>
                                                            <a href="#myCarousel" class="left carousel-control" data-slide="prev">
                                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                            </a>
                                                            <a href="#myCarousel" class="right carousel-control" data-slide="next">
                                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                            </a>
                                                        </div>
                                                        <br>
                                                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Change image</button> &nbsp; <a href=""><button type="button" class="btn btn-info">Remove Image</button></a>
                                                        <div id="demo" class="collapse">
                                                            <br><br>
                                                                <form action="">
                                                                    <label>Upload Image</label>
                                                                    <input type="file" name="pic" accept="image/*"><br>
                                                                    <button type="button" class="btn btn-info">Update</button>
                                                                  </form>
                                                                </div>  

                                                                <h2><b>Promotional Videos</b></h2>


                                                                <div class="carousel slide" data-ride="carousel" id="myCarousel">
                                                                 
                                                                        <div class="carousel-inner">
                                                                            <div class="item active">
                                                                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-zW1zHqsdyc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                                            </div>
                                                                            <div class="item">
                                                                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-zW1zHqsdyc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                        <a href="#myCarousel" class="left carousel-control" data-slide="prev">
                                                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                                                        </a>
                                                                        <a href="#myCarousel" class="right carousel-control" data-slide="next">
                                                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                                                        </a>
                                                                    </div>
                                                                    <br>
                                                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Change image</button> &nbsp; <a href=""><button type="button" class="btn btn-info">Remove Image</button></a>
                                                                    <div id="demo" class="collapse">
                                                                        <br><br>
                                                                            <form action="">
                                                                                <label>Upload Image</label>
                                                                                <input type="file" name="pic" accept="image/*"><br>
                                                                                <button type="button" class="btn btn-info">Update</button>
                                                                              </form>
                                                                            </div>  

                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>








</div>
               
        </div>
    </section>
</body>

