<nav class="navbar-aside navbar-static-side " id="menu">
    <div class="sidebar-collapse">

        <ul class="nav" id="side-menu">

            <li class="active">
                <a routerLink="/home"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard </span></a>
                
            </li>
            <li >
                    <a routerLink="/importdata"><img src="../assets/images/counticon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Import Database</span></a>
                    
                </li>
                <li >
                        <a routerLink="/createlist"><img src="../assets/images/ordericon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Create List</span></a>
                        
                    </li>
                    <li>
                            <a routerLink="/itemsnew"><img src="../assets/images/itemicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Add items </span></a>
                            
                        </li>
                        <li>
                            <a routerLink="/itemnew"><img src="../assets/images/gifticon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Inbox </span></a>
                            
                        </li>
            <li >
                <a routerLink="/mycash"><img src="../assets/images/waleticon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; My Cash </span></a>
                
            </li>
            
            <li >
                <a routerLink="/offerzone"><img src="../assets/images/gifticon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Offer zone</span></a>
                
            </li>
            <li >
                <a routerLink="/viewcount"><img src="../assets/images/counticon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; View Count</span></a>
                
            </li>
            <li>
                <a routerLink="/orders"><img src="../assets/images/ordericon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; orders</span></a>
                
            </li>
            <li>
                <a routerLink="/review"><img src="../assets/images/review.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Review Ratings</span></a>
                
            </li>
           <li>
                <a routerLink="/itemlist"><img src="../assets/images/listicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Item list</span></a>
                
            </li>
            <li>
                <a routerLink="/individualitems"><img src="../assets/images/listicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Invidual items</span></a>
                
            </li>
            <li>
                <a routerLink="/bussinessprofile"><img src="../assets/images/business.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Business profile</span></a>
                
            </li>
            <li>
                <a routerLink="/businesssetting"><img src="../assets/images/business.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Business Setting</span></a>
                
            </li>
            <li>
                <a routerLink="/businessanalasys"><img src="../assets/images/business.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Business Analasys</span></a>
                
            </li>
            <li>
                <a routerLink="/createnew"><img src="../assets/images/listicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Add New item </span></a>
                
            </li>
            <li>
                    <a routerLink="/additem"><img src="../assets/images/itemicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; create new list </span></a>
                    
                </li>
            <li>
                <a routerLink="/orderanalasys"><img src="../assets/images/ordericon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Order Analasys</span></a>
                
            </li>
            <li>
                <a routerLink="/hours"><img src="../assets/images/timeicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Open/Close hours</span></a>
                
            </li>
            <li>
                    <a routerLink="/homedelivery"><img src="../assets/images/itemicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Home delivery</span></a>
                    
                </li>
                <li>
                        <a routerLink="/promotions"><img src="../assets/images/listicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; My promotions</span></a>
                        
                    </li>
                    <li>
                            <a routerLink="/bankdetails"><img src="../assets/images/timeicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Add bank details</span></a>
                            
                        </li>
                        <li>
                                <a routerLink="/mydocuments"><img src="../assets/images/itemicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; My Documents</span></a>
                                
                            </li>
                            <li>
                                    <a routerLink="/aadhar"><img src="../assets/images/listicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Aadhar Update</span></a>
                                    
                                </li>
                                <li>
                                        <a routerLink="/websocial"><img src="../assets/images/ordericon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; My Website & Social media</span></a>
                                        
                                    </li>
                                    <li>
                                            <a routerLink="/feedback"><img src="../assets/images/listicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Feedback</span></a>
                                            
                                        </li>
                                        <li>
                                                <a routerLink="/help"><img src="../assets/images/timeicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; Contact Us</span></a>
                                                
                                            </li>
            <li>
                <a routerLink="/home"><img src="../assets/images/cmsicon.png" style="width:30px;height:30px;"><span class="nav-label">&nbsp; CMS Management</span></a>
                
            </li>


        </ul>
 
    </div>
</nav>