<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
         

            

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>CURRENT ORDERS<small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">current orders</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">
                            <h4>Current orders</h4>

                            
                        </div>
                    
                    </div>
      <a routerLink="/orders"><button type="button" class="btn btn-primary" style="float:right;">Current orders</button></a>  
                </div>

                <div class="col-md-4">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">

                            <h4>Old orders</h4>
                            
                        </div>



                    </div>
      <a routerLink="/oldorders"><button type="button" class="btn btn-primary" style="float:right;">Old Orders</button></a>
                </div>
       <div class="col-md-4">
                    <div class="widget-box clearfix height-auto">
                        <div class="pull text-left clearfix">

                            <h4>Custom orders</h4>
                            
                        </div>



                    </div>
                </div>
           

<a routerLink="/orders" style="text-align:center;"><button type="button" class="btn btn-primary" style="float:right;"> Custom Orders</button></a>
            </div>
                       

<div class="panel panel-default" style="margin-top:30px;">
<div class="panel-heading">
<div class="dsf">
<div class="row">
<div class="col-md-8">
<h3>orderid:1425185</h3>
</div>
<div class="col-md-4">
<h3>Date:1425185</h3>
</div>
</div>
</div>
</div>
<div class="panel-body">
<div class="dsadf">
<div class="row">
<div class="col-md-2">
<img src="images/as.png">
</div>
<div class="col-md-2">
<p>Item x <span>Quantity:</span></p>
<p>Item y <span>Quantity:</span></p>
<p>Item z <span>Quantity:</span></p>
</div>
<div class="col-md-2">
<h3>RS/- 1800</h3>
</div>
<div class="col-md-3">
<button type="button" class="btn btn-success">Accept</button>
<button type="button" class="btn btn-danger">reject</button>
</div>
<div class="col-md-3">
<button type="button" class="btn btn-primary">order detals</button>
</div>
</div>
</div>

</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<div class="ddd">
<div class="row">
<div class="col-md-8">
<h3>orderid:1425185</h3>
</div>
<div class="col-md-4">
<h3>Date:1425185</h3>
</div>
</div>
</div>
</div>
<div class="panel-body">
<div class="ccc">
<div class="row">
<div class="col-md-2">
<img src="images/as.png">
</div>
<div class="col-md-2">
<p>Item x <span>Quantity:</span></p>
<p>Item y <span>Quantity:</span></p>
<p>Item z <span>Quantity:</span></p>
</div>
<div class="col-md-2">
<h3>RS/- 1800</h3>
</div>
<div class="col-md-3">
<button type="button" class="btn btn-success">Accept</button>
<button type="button" class="btn btn-danger">reject</button>
</div>
<div class="col-md-3">
<button type="button" class="btn btn-primary">order detals</button>
</div>
</div>
</div>

</div>
</div>
        </div>
    </div>
  </div>
</section>