
<nav class="navbar navbar-default yamm navbar-fixed-top" id="header"> <div class="color-line">
</div>
<div class="container-fluid">
  
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/login
        +"><img src="../assets/images/reachlogo.png" style="margin-top: -30px;height:70px;"></a></div>
   
</div>
</nav>