
<app-aside></app-aside>
<body class="fixed-navbar fixed-sidebar">
   
   
    <section class="page">

            <app-sidebar></app-sidebar>

            <div id="wrapper">
                <div class="row" style="margin-top:-50px;">
                        <div class="col-sm-12">
                            <div class="page-title" style="height:50px;background-color:#0593c5;">
                         <div class="col-md-3"><h1 class="colr" routerLink="/importdata">Import database</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/createlist">Create List</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/itemsnew">Add Items</h1></div>
                         <div class="col-md-3"><h1 class="colr" routerLink="/inbox">Inbox</h1></div>  
                            </div>
                        </div>
                    </div>
            <div class="content-wrapper container">
              </div>
              </div>
    </section>
</body>
