<app-aside></app-aside>
<section class="page">
<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div id="wrapper">
        <div class="content-wrapper container">
            <app-rowside></app-rowside>
          
            <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title">
                            <h1>Inbox<small></small></h1>
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="active">Inbox</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                        <div class="panel panel-card margin-b-30">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title">Inbox</h4>
                                <!-- <div class="panel-actions">
                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                </div> -->
                            </div>
                     


                            <div class="container">
                                    <div class="row profile">
                                        <div class="col-md-3">
                                            <div class="profile-sidebar">
                                                <!-- SIDEBAR USERPIC -->
                                                <div class="profile-userpic">
                                                    <img src="../assets/images/open.jpg" class="img-responsive" alt="">
                                                </div>
                                                <!-- END SIDEBAR USERPIC -->
                                                <!-- SIDEBAR USER TITLE -->
                                                <div class="profile-usertitle">
                                                        
                                                    <div class="profile-usertitle-name">
                                                     
                                                       Marcus Doe
                                                    </div>
                                                    <div class="profile-usertitle-job">
                                                       Messages
                                                    </div>
                                                </div>
                                            
                                                <!-- <div class="profile-userbuttons">
                                                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                                                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                                                </div> -->
                                           
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="profile-content">
                                                    <div class="container" style="width:100%;">
                                                            <img src="../assets/images/open.jpg" alt="Avatar" style="width:50%;">
                                                            <p>Hello. How are you today?</p>
                                                            <span class="time-right">11:00</span>
                                                          </div>
                                                          
                                                          <div class="container darker" style="width:100%;">
                                                            <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:50%;">
                                                            <p>Hey! I'm fine. Thanks for asking!</p>
                                                            <span class="time-left">11:01</span>
                                                          </div>
                                                         
                                                                <div class="form-group">
                                                                  <input type="text" class="form-control" placeholder="Reply">
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">Send</button>
                                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>

































                        













                        </div>
                       
                               
                    
                    

                                



                        
                    </div>


        </div>
    </div>
  </div>
</section>